<p>Создайте счет, кликнув по  кнопке</p>
<div *ngIf="successfulToAdd" class="alert alert-primary" role="alert">
  Счет создан!
</div>
<div *ngIf="error" class="alert alert-danger" role="alert">
  {{error}}
</div>
<button type="button" (click)="wantsToCreate = !wantsToCreate" class="btn btn-success">Создать</button>
  <form *ngIf="wantsToCreate" [formGroup]="newAccountForm">
    <div class="form-group">
      <label>Валюта: </label>
      <input type="radio" value="0" formControlName="currency" id="usd">
      <label for="usd">USD</label>
      <input type="radio" value="1" formControlName="currency" id="rub">
      <label for="usd">RUB</label>
      <input type="radio" value="2" formControlName="currency" id="eur">
      <label for="usd">EUR</label>
    </div>
    <div class="form-group">
      <label for="name">Название счёта</label>
      <input type="text" class="form-control" formControlName="name" id="name">
      <div *ngIf="submittedToAdd && f.name.errors" class="invalid-feedback">
        <div *ngIf="f.name.errors.required">Accounts name is required</div>
      </div>
    </div>
    <div class="form-group">
      <button type="button" (click)="createBankAccount()" [disabled]="loadingToAdd" class="btn btn-primary">Создать!</button>
      <img *ngIf="loadingToAdd" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>


  </form>
<h2>Ваши счета:</h2>
<button type="button" *ngIf="!loadingAccounts" (click)="getAccounts()" class="btn btn-primary">Обновить</button>
<img *ngIf="loadingAccounts" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
<div *ngIf="accounts !== []; else noBankAccounts">
  <ul *ngFor="let acc of accounts; let i = index">
    {{acc.name}}: {{acc.balance}} {{acc.currency === 0 ? "RUB" : acc.currency === 1 ? "USD" : "EUR"}}
  </ul>
</div>
<ng-template #noBankAccounts>
  У вас пока нет банковских аккаунтов.
</ng-template>
