<nav class="navbar navbar-expand-lg navbar-light bg-light">
  <a class="navbar-brand" href="#">Microbank</a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
    <div class="navbar-nav w-100">
      <div class="p-2">
        <a class="nav-item nav-link" routerLink="">Home <span class="sr-only">(current)</span></a>
      </div>
      <div class="p-2">
        <a class="nav-item nav-link" (click)="tryGetBankAccount()">Bank Accounts</a>
      </div>
      <div class="ml-auto p-2">
        <a *ngIf="!currentUser; else loggedOut" class="nav-item nav-link float-right" routerLink="/login">Login</a>
        <ng-template class="ml-auto p-2" #loggedOut>
          <a class="nav-item nav-link float-right" (click)="logout()" routerLink="">Logout</a>
        </ng-template>
      </div>
    </div>
  </div>
</nav>

<div class="jumbotron jumbotron-fluid">
  <div class="container">
    <div class="row">
      <router-outlet></router-outlet>
    </div>
  </div>
</div>
